<div class="header-login">
  <a href="javascript:void(0);" class="login-item search">
    {% include 'icon-search-header' %}
    <div class="label">Search</div>
  </a>
  <a href="javascript:void(0);" class="login-item user">
    {% include 'icon-user' %}
    <div class="label">Login</div>
  </a>
  <a href="/cart" class="login-item basket">
    {% if cart.item_count > 0 %}
      <div class="count">{{ cart.item_count }}</div>
    {% endif %}
    {% include 'icon-shopping-basket' %}
    <div class="label">{{ 'layout.cart.title' | t }}</div>
  </a>
  {% if shop.customer_accounts_enabled %}
    <ul>
      {% if customer %}
        <li>
          {% if customer.first_name != blank %}
            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
          {% else %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
        </li>
        <li>
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </li>
      {% else %}
        <li>
          {{ 'layout.customer.log_in' | t | customer_login_link }}
        </li>
        <li>
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </li>
      {% endif %}
    </ul>
  {% endif %}
  <a href="javascript:void(0);" class="login-item mobile-menu">
    {% include 'icon-hamburger' %}
  </a>
</div>